
  /* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'candara', Brush Script;
  font-size: 17px;
  line-height: 1.6;
  color: #333;
  font-weight: bold;
}

.body{

     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}

body {
margin: 0;
padding: 0;
}
video {
position: fixed;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
z-index: -1;
}



  nav{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 8%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    nav .logo{
    width: 80px;
    align-items:left;
    
    }
    nav ul li{
      list-style: none;
      display: inline-block;
      margin-left: 40px;
    }
    
    nav ul li a{
      text-decoration:none;
       color: rgb(0, 0, 0);
      font-size: 17px;
      font-weight: bold;
       text-transform: capitalize;
    }
    nav ul li a:hover{
      color:rgb(255, 0, 0);
      transition: .4s;
    }

    .typewriter{
      position: absolute;
      top: 190px;
      left: 1px;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 3s steps(40) infinite, blink-caret 0.5s step-end infinite;
      color: black;
     
    }
      @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
      }
      
      @keyframes blink-caret {
        from, to { border-color: transparent; }
        50% { border-color: orange; }
      }   
   
  
  
  img {
    float: left;
    clear: left;
    margin: 1em;
    margin-left: 0;
  }
  
  .nudge-float::before {
    content: "";
    float: left;
    width: 0;
    height: var(--nudge-float);
 

  }
  .Be p{
color: rgb(32, 46, 0);
font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    }
  

    .Sub1{
      width: 100%;
    padding: 100px 0px;
   background-color: rgb(170, 231, 230);
      margin-top: 200px;
      border: 2px solid black;
    }

    .map-container {
      position: relative;
      width: 100%; /* Adjust this to the desired width */
      height: 400px; /* Adjust this to the desired height */
     
  }
    
    .map-container iframe {
      position: absolute;
      top: 80px;
      left: 80px;
      width: 90%;
      height: 90%;

     
     
    }

.map-container h2{
  font-size: 20px;
  text-align: center;
 
  
}
.color1 {
  color: rgb(0, 0, 0);
}

.color2 {
  color: rgb(251, 96, 0);
}

.S1{


      width: 100%;
    padding: 100px 0px;

      
      
    }
  
    .S11 {
      position: absolute;
      top: 170px;
      left: 30%;
      transform: translateY(-50%);
    width: 990px;
    height: 69%;
    margin: 0 8px;  
  position: relative;
  color: #161414;
    }
    .about h2{
      position: absolute;
      left:700px;
      top: -41px;
    }
    .Image {
      border-radius: 50%;
      width: 280px;
      height: 280px;
      margin-left: -410px;
      margin-top: -270px;
    }
    .Sub2{
      width: 100%;
    padding: 100px 0px;

    }
      
.Subx2 h3{
  font-size: 26px;
  position: absolute;
 left: 20px;
 top:2630px
} 

.Subx2 p{
 position: absolute;
 left: 20px;
} 
  
      
    .image1{
      border-radius: 50%;
      width: 200px;
      height: 230px;
      position: absolute;
      top: 2900px;
      left:230px
    }
    .image2{
      border-radius: 50%;
      width: 200px;
      height: 230px;
      position: absolute;
      top: 2900px;
      left: 590px;
    }
    .image3{
      border-radius: 50%;
      width: 200px;
      height: 230px;
      position: absolute;
      top: 2900px;
      left: 900px;
    }
   
    footer {
      background-color: #103858;
      color: #fff;
      padding: 20px 0;
    }
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
    
    .footerContainer {
    text-align:center ;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: infinite;
    color: white;
    font-weight: bolder;
    }
  